p {
  color: rgb(51, 17, 86);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
}

h1 {
  color: rgb(132, 0, 255);
  margin: 15px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  color: rgb(132, 0, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paragraph-description {
  color: rgb(51, 17, 86);
  margin: 15px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: ;
}

.product-border {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 400px;
  text-align: center;
}

body {
  background-color: rgb(232, 232, 232);
}

button {
  width: 100%;
  border-radius: 15px;
  background-color: aqua;
}
